
    #objmenu{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    a{
        width: 500px;
        height: 40px;
        font-size: 18px;
        text-decoration: none;
        background-color: #9acd32;
        color: #fff;
        padding: 0px;
        margin: 0px;
        display: table-cell;
        vertical-align: middle; /*aliagem via vertical*/
    }

    a:hover{    
        background-color: #b2ff17;
    }